/* styles.css */
/* styles.css */

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.intro {
  color: #3E2723 ;
  text-align: center;
  padding: 100px 20px;
  background-size: cover;
  height: 10vh;
  background-color: #e8d9a8;
}

.intro h1 {
  font-size: 5rem;
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 1rem;
}

.intro p {
  font-family:"Segoe UI";
  font-size: 1rem ;
  margin: 0px;
}

.navbar {
  background:#e8d9a8 ;
  color: #3E2723 ;
  padding: 10px 20px;
  height: auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;}

nav.navbar a {
  color: #3E2723;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}


nav.navbar a:hover {
  color: #ce712e;
}

section {
  padding: 40px 20px;
  text-align: center;
  background-color: #FFF8E1;
  font-size: 1.5rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  margin: 0 auto;
  font-size: 1.5rem;
  height: 1px;
  max-width: 1100px;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url("1000034859-01.jpeg");
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  background-attachment: fixed;

  color: #FFF8E1;
}
.menu{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url("1000034859-01.jpeg");
              background-size: cover; /* Scale the image to cover the container */
              background-position: center; /* Center the image */
              background-repeat: no-repeat; /* Prevent tiling of the image */
              background-attachment: fixed;
  
              color: #FFF8E1;

}

.cart{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url("1000034859-01.jpeg");
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  background-attachment: fixed;

  color: #FFF8E1;

}

.contact{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url("1000034859-01.jpeg");
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  background-attachment: fixed;

  color: #FFF8E1;

}

.menuText p{
  margin-bottom: 50px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

#cart-item{
  list-style-type: none;
}   


.cart h2{
  margin-top: 20px;
}

.menu-item {
  background: #b86427;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.menu-item:hover{
  border : solid #4E342E 2px;
  color: #3E2723;
}

.contact p {
  margin: 10px 0;
}

footer.footer {
  background: #e8d9a8 ;
  color: #3E2723;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

footer.footer p{
  font-size: 1.2rem;
}
footer.footer #final{
  font-size: 0.8rem;
}

footer.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  font-size: 1.5rem;
}

footer.footer a {
  color: #3E2723;
  text-decoration: none;
  font-size: 1.2rem;
  
}

footer.footer a:hover {
  color: #ce712e;
}
 /* tabs */

@media (max-width: 768px) {
  .intro {
    padding: 50px 10px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1.5rem;
  }

  nav.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }

  nav.navbar ul {
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    gap: 10px;
    font-size: 0.9rem;
  }

  .about{
    height: 20vh;
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  footer.footer ul {
    gap: 5px;
  }

  footer.footer {
    font-size: 0.9rem;
  }
}

/* Mobile*/
@media (max-width: 480px) {
  .intro {
    padding: 30px 10px;
    height: 25vh;
    max-width:100vw ;
    display: flexbox;
    justify-content: space-between;
  }

  .intro h1{
    font-size: 2rem;
  }

  .intro p{
    font-size: 0.8rem;
  }

  
  h2 {
    font-size: 1.3rem;
  }

  nav.navbar ul {
    display: flex;
    justify-content: center;
    width: 90vw;
  }

  nav.navbar a {
    font-size: 1rem;
  }

  .about{
    height: 28vh;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }

  .menu-item {
    padding: 10px;
  }

  footer.footer {
    font-size: 0.8rem;
  }
}

/*laptops*/
@media (max-width: 2000px) {
  .intro {
    padding: 100px 15px;
    height: 11vh;
    background-size: cover;
    background-position: center;
  }

  .intro h1 {
    font-size: 5rem; 
  }

  .intro p {
    font-size: 2.2rem; 
  }

  nav.navbar {
    padding: 10px 15px; 
  }

  nav.navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
  }

  .navbar a{
    font-size: 1.5rem ;
   
  
 section {
 padding: 30px 15px; 
}

  section h2 {
    font-size: 2rem; 
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 900px; 
    gap: 15px; 

  }

  .menu-item {
    padding: 15px; 
    font-size: 1.2rem; 
  }

  footer.footer {
    padding: 15px; 
    display:flex;
    justify-items: center;
    width: 50vw;
  }

  footer.footer p{
    font-size:1.5rem ;
  }

  footer.footer ul {
    gap: 5px;

  
}}